/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pm-bright-orange: hsl(31, 77%, 52%);
  --pm-dark-cyan: hsl(184, 100%, 22%);
  --pm-very-dark-cyan: hsl(179, 100%, 13%);

  --n-transparent-white: hsla(0, 0%, 100%, 0.75);
  --n-very-light-gray: hsl(0, 0%, 95%);
}

body {
  height: 100vh;
  color: var(--n-transparent-white);

  /* Center the 3-columns on the middle of the page */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* Make the 3-columns a "column" */
  display: flex;
}

section {
  width: 307px;
  height: 500px;
}

/* Added a text class to prevent repetition */
.text {
  font-family: Lexend Deca, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.sedan {
  background-color: var(--pm-bright-orange);
  border-radius: 8px 0 0 8px;
}

.sedan button {
  color: var(--pm-bright-orange);
}

.suv {
  background-color: var(--pm-dark-cyan);
}

.suv button {
  color: var(--pm-dark-cyan);
}

.luxury {
  background-color: var(--pm-very-dark-cyan);
  border-radius: 0 8px 8px 0;
}

.luxury button {
  color: var(--pm-very-dark-cyan);
}

/* Paddings */
.sedan,
.suv,
.luxury {
  padding: 48px 47.5px 0 48.5px;
}

.option {
  padding: 35px 0 25px 0;

  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--n-very-light-gray);
}

.description {
  margin-bottom: 83px;
  color: var(--n-transparent-white);
  opacity: 0.75;
}

.btn {
  width: 146px;
  height: 48px;
  border-radius: 25px;
  background-color: var(--n-very-light-gray);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--n-transparent-white);
  color: var(--n-transparent-white);
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  section {
    height: 442px;
    width: 327px;
  }

  .description {
    margin-bottom: 25px;
  }

  .sedan {
    border-radius: 8px 8px 0 0;
  }

  .luxury {
    border-radius: 0 0 8px 8px;
  }
}
